In [ ]:
## Installing the API Wrapper
# Instead of downloading DOW data from the Yahoo Finance Website, we can install an API wrapper (yfinance) in Anaconda which is more scalable for data access
# This is done in Anaconda prompt: pip install yfinance

In [1]:
import pandas as pd
import yfinance as yf

In [39]:
yf.download("^DJI", multi_level_index=False) # The multi level index removes the unnecessary ^DJI duplicated row

[*********************100%***********************]  1 of 1 completed

                   Close          High           Low          Open      Volume
Date
1992-01-02   3172.399902   3172.629883   3139.310059   3152.100098    23550000
1992-01-03   3201.500000   3210.639893   3165.919922   3172.399902    23620000
1992-01-06   3200.100098   3213.330078   3191.860107   3201.500000    27280000
1992-01-07   3204.800049   3210.199951   3184.479980   3200.100098    25510000
1992-01-08   3203.899902   3229.199951   3185.820068   3204.800049    29040000
...                  ...           ...           ...           ...         ...
2024-12-19  42342.238281  42787.851562  42334.128906  42464.128906   560200000
2024-12-20  42840.261719  43216.031250  42146.328125  42296.261719  1121300000
2024-12-23  42906.949219  42957.789062  42516.871094  42800.488281   449390000
2024-12-24  43297.031250  43297.648438  42871.761719  42916.480469   230410000
2024-12-26  43325.800781  43373.980469  43115.089844  43201.898438   268387053

[8308 rows x 5 columns]

In [45]:
dowdata= yf.download("^DJI", start = '2007-01-01', end = '2020-03-31', multi_level_index=False)
dowdata

[*********************100%***********************]  1 of 1 completed

                   Close          High           Low          Open     Volume
Date
2007-01-03  12474.519531  12580.349609  12404.820312  12459.540039  327200000
2007-01-04  12480.690430  12510.410156  12403.860352  12473.160156  259060000
2007-01-05  12398.009766  12480.129883  12365.410156  12480.049805  235220000
2007-01-08  12423.490234  12445.919922  12337.370117  12392.009766  223500000
2007-01-09  12416.599609  12466.429688  12369.169922  12424.769531  225190000
...                  ...           ...           ...           ...        ...
2020-03-24  20704.910156  20737.699219  19649.250000  19722.189453  799340000
2020-03-25  21200.550781  22019.929688  20538.339844  21050.339844  796320000
2020-03-26  22552.169922  22595.060547  21427.099609  21468.380859  705180000
2020-03-27  21636.779297  22327.570312  21469.269531  21898.470703  588830000
2020-03-30  22327.480469  22378.089844  21522.080078  21678.220703  545540000

[3333 rows x 5 columns]

In [46]:
dowdata.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3333 entries, 2007-01-03 to 2020-03-30
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   3333 non-null   float64
 1   High    3333 non-null   float64
 2   Low     3333 non-null   float64
 3   Open    3333 non-null   float64
 4   Volume  3333 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 156.2 KB

In [42]:
dowdata.to_csv("dowdata.csv")

In [43]:
ticker = pd.read_csv("ticker_list")
# print(type(ticker))
ticker = ticker['Ticker'].tolist()  # Convert the ticker dataframe to a list
ticker
# print(type(ticker))

['MMM',
 'AXP',
 'AMGN',
 'AMZN',
 'AAPL',
 'BA',
 'CAT',
 'CVX',
 'CSCO',
 'KO',
 'DIS',
 'GS',
 'HD',
 'HON',
 'IBM',
 'JNJ',
 'JPM',
 'MCD',
 'MRK',
 'MSFT',
 'NKE',
 'NVDA',
 'PG',
 'CRM',
 'SHW',
 'TRV',
 'UNH',
 'VZ',
 'V',
 'WMT']

In [47]:
# This comibnes the prices and the 30 ticker list of companies
prices = yf.download(ticker, start = '2007-01-01', end = '2020-03-31')
prices

[*********************100%***********************]  30 of 30 completed

Price           Close                                                \
Ticker           AAPL        AMGN       AMZN        AXP          BA
Date
2007-01-03   2.524616   48.486603   1.935000  45.753906   64.405716
2007-01-04   2.580653   50.563587   1.945000  45.420380   64.665749
2007-01-05   2.562274   50.684090   1.918500  44.821541   64.391258
2007-01-08   2.574929   50.280033   1.875000  45.246033   64.239571
2007-01-09   2.788826   50.521057   1.889000  44.957977   63.560650
...               ...         ...        ...        ...         ...
2020-03-24  59.978466  176.322861  97.004997  78.737213  127.680000
2020-03-25  59.648067  168.305817  94.292000  84.470390  158.729996
2020-03-26  62.786919  172.967926  97.774498  87.393150  180.550003
2020-03-27  60.187401  172.776184  95.004997  83.121414  162.000000
2020-03-30  61.905029  181.673370  98.197502  84.564064  152.279999

Price                                                                 ...  \
Ticker             CAT         CRM       CSCO        CVX         DIS  ...
Date                                                                  ...
2007-01-03   38.166199    8.967414  18.503929  35.931675   27.971548  ...
2007-01-04   38.066349    9.417400  18.991049  35.582314   28.192379  ...
2007-01-05   37.579597    9.825123  18.997728  35.719028   27.963366  ...
2007-01-08   37.623299    9.927052  19.104486  36.174683   28.216908  ...
2007-01-09   37.829220    9.934511  18.997728  35.759525   28.176016  ...
...                ...         ...        ...        ...         ...  ...
2020-03-24   91.442032  152.786621  33.273323  54.457226   96.922653  ...
2020-03-25   94.446808  146.243164  32.471657  56.682964   99.500809  ...
2020-03-26   99.707382  153.870575  34.980095  62.501007  104.074303  ...
2020-03-27   95.141594  145.189056  33.462963  56.282017   95.223648  ...
2020-03-30  100.799171  149.017670  34.755974  58.875992   98.582153  ...

Price         Volume                                                    \
Ticker          MSFT       NKE        NVDA        PG      SHW      TRV
Date
2007-01-03  76935100  17299200  1154820000   9717900  2683800  3432800
2007-01-04  45774500  15085600   797298000   8711400  2011500  2068200
2007-01-05  44607200  14996800  1243344000   9907900  3147000  2104600
2007-01-08  50220200  10109600   657270000  11068200  3131400  2440900
2007-01-09  44636600  15167200   764166000  10823800  2774100  1319500
...              ...       ...         ...       ...      ...      ...
2020-03-24  82516700  18849500  1101644000  14625500  3735300  4293300
2020-03-25  75638200  27053200   793432000  13789100  2766900  4151400
2020-03-26  64568100  17200800   696108000  15796000  2562900  4610600
2020-03-27  57042300  14183400   638828000  16073100  1990500  3085400
2020-03-30  63420300  10960100   602252000  14571600  2259600  2733700

Price
Ticker           UNH           V        VZ        WMT
Date
2007-01-03   8360300         NaN  21445850  107061900
2007-01-04   5152500         NaN  19215860   51219000
2007-01-05   6215700         NaN  19047041   40670700
2007-01-08   4344100         NaN  20370917   49189200
2007-01-09   5483900         NaN  16281352   43929600
...              ...         ...       ...        ...
2020-03-24   8894400  24488300.0  40626900   42705000
2020-03-25  10014000  20619600.0  38551300   53287500
2020-03-26   7517600  17062900.0  32610900   58250700
2020-03-27   4879500  14950700.0  25363600   36160500
2020-03-30   5329000  15714500.0  20660200   29212500

[3333 rows x 150 columns]

In [44]:
prices

Price           Close                                                \
Ticker           AAPL        AMGN       AMZN        AXP          BA
Date
2007-01-03   2.524616   48.486603   1.935000  45.753906   64.405716
2007-01-04   2.580653   50.563587   1.945000  45.420380   64.665749
2007-01-05   2.562274   50.684090   1.918500  44.821541   64.391258
2007-01-08   2.574929   50.280033   1.875000  45.246033   64.239571
2007-01-09   2.788826   50.521057   1.889000  44.957977   63.560650
...               ...         ...        ...        ...         ...
2020-03-24  59.978466  176.322861  97.004997  78.737213  127.680000
2020-03-25  59.648067  168.305817  94.292000  84.470390  158.729996
2020-03-26  62.786919  172.967926  97.774498  87.393150  180.550003
2020-03-27  60.187401  172.776184  95.004997  83.121414  162.000000
2020-03-30  61.905029  181.673370  98.197502  84.564064  152.279999

Price                                                                 ...  \
Ticker             CAT         CRM       CSCO        CVX         DIS  ...
Date                                                                  ...
2007-01-03   38.166199    8.967414  18.503929  35.931675   27.971548  ...
2007-01-04   38.066349    9.417400  18.991049  35.582314   28.192379  ...
2007-01-05   37.579597    9.825123  18.997728  35.719028   27.963366  ...
2007-01-08   37.623299    9.927052  19.104486  36.174683   28.216908  ...
2007-01-09   37.829220    9.934511  18.997728  35.759525   28.176016  ...
...                ...         ...        ...        ...         ...  ...
2020-03-24   91.442032  152.786621  33.273323  54.457226   96.922653  ...
2020-03-25   94.446808  146.243164  32.471657  56.682964   99.500809  ...
2020-03-26   99.707382  153.870575  34.980095  62.501007  104.074303  ...
2020-03-27   95.141594  145.189056  33.462963  56.282017   95.223648  ...
2020-03-30  100.799171  149.017670  34.755974  58.875992   98.582153  ...

Price         Volume                                                    \
Ticker          MSFT       NKE        NVDA        PG      SHW      TRV
Date
2007-01-03  76935100  17299200  1154820000   9717900  2683800  3432800
2007-01-04  45774500  15085600   797298000   8711400  2011500  2068200
2007-01-05  44607200  14996800  1243344000   9907900  3147000  2104600
2007-01-08  50220200  10109600   657270000  11068200  3131400  2440900
2007-01-09  44636600  15167200   764166000  10823800  2774100  1319500
...              ...       ...         ...       ...      ...      ...
2020-03-24  82516700  18849500  1101644000  14625500  3735300  4293300
2020-03-25  75638200  27053200   793432000  13789100  2766900  4151400
2020-03-26  64568100  17200800   696108000  15796000  2562900  4610600
2020-03-27  57042300  14183400   638828000  16073100  1990500  3085400
2020-03-30  63420300  10960100   602252000  14571600  2259600  2733700

Price
Ticker           UNH           V        VZ        WMT
Date
2007-01-03   8360300         NaN  21445850  107061900
2007-01-04   5152500         NaN  19215860   51219000
2007-01-05   6215700         NaN  19047041   40670700
2007-01-08   4344100         NaN  20370917   49189200
2007-01-09   5483900         NaN  16281352   43929600
...              ...         ...       ...        ...
2020-03-24   8894400  24488300.0  40626900   42705000
2020-03-25  10014000  20619600.0  38551300   53287500
2020-03-26   7517600  17062900.0  32610900   58250700
2020-03-27   4879500  14950700.0  25363600   36160500
2020-03-30   5329000  15714500.0  20660200   29212500

[3333 rows x 150 columns]

In [48]:
# Getting only the Closing prices for the end of the day
prices = prices.loc[:, "Close"].copy()

In [49]:
prices

Ticker,AAPL,AMGN,AMZN,AXP,BA,CAT,CRM,CSCO,CVX,DIS,...,MSFT,NKE,NVDA,PG,SHW,TRV,UNH,V,VZ,WMT
Date,,,,,,,,,,,,,,,,,,,,,
2007-01-03,2.524616,48.486603,1.935000,45.753906,64.405716,38.166199,8.967414,18.503929,35.931675,27.971548,...,21.320467,9.683743,0.551474,38.616390,16.703072,34.745796,41.900398,NaN,14.300735,10.829032
2007-01-04,2.580653,50.563587,1.945000,45.420380,64.665749,38.066349,9.417400,18.991049,35.582314,28.192379,...,21.284773,9.782888,0.548876,38.323208,16.618725,34.453808,42.171398,NaN,14.380142,10.881413
2007-01-05,2.562274,50.684090,1.918500,44.821541,64.391258,37.579597,9.825123,18.997728,35.719028,27.963366,...,21.163387,9.798753,0.514485,37.994125,16.331427,34.006107,41.884453,NaN,14.134352,10.792598
2007-01-08,2.574929,50.280033,1.875000,45.246033,64.239571,37.623299,9.927052,19.104486,36.174683,28.216908,...,21.370462,9.769009,0.518306,38.077892,16.262899,33.753056,42.498196,NaN,14.071280,10.703778
2007-01-09,2.788826,50.521057,1.889000,44.957977,63.560650,37.829220,9.934511,18.997728,35.759525,28.176016,...,21.391870,9.890965,0.508218,37.982155,16.421041,33.668709,41.988071,NaN,14.128623,10.792598
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-24,59.978466,176.322861,97.004997,78.737213,127.680000,91.442032,152.786621,33.273323,54.457226,96.922653,...,142.557373,68.476830,6.207204,91.821716,145.401398,84.419792,205.110840,149.667206,38.334888,35.730797
2020-03-25,59.648067,168.305817,94.292000,84.470390,158.729996,94.446808,146.243164,32.471657,56.682964,99.500809,...,141.192719,74.800964,6.118523,89.732246,144.645630,83.014885,218.819107,156.689087,38.296543,33.982002
2020-03-26,62.786919,172.967926,97.774498,87.393150,180.550003,99.707382,153.870575,34.980095,62.501007,104.074303,...,150.024490,79.809151,6.407981,95.476089,149.282867,88.859612,238.322403,163.565628,41.057209,34.112461
2020-03-27,60.187401,172.776184,95.004997,83.121414,162.000000,95.141594,145.189056,33.462963,56.282017,95.223648,...,143.864365,78.796173,6.295636,97.956810,147.207626,90.012360,226.247162,156.475967,40.466728,34.037918
2020-03-30,61.905029,181.673370,98.197502,84.564064,152.279999,100.799171,149.017670,34.755974,58.875992,98.582153,...,153.983871,80.831604,6.615986,102.251381,154.307663,92.389862,234.487045,160.359787,42.000439,35.780502

In [33]:
prices.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3333 entries, 2007-01-03 to 2020-03-30
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AAPL    3333 non-null   float64
 1   AMGN    3333 non-null   float64
 2   AMZN    3333 non-null   float64
 3   AXP     3333 non-null   float64
 4   BA      3333 non-null   float64
 5   CAT     3333 non-null   float64
 6   CRM     3333 non-null   float64
 7   CSCO    3333 non-null   float64
 8   CVX     3333 non-null   float64
 9   DIS     3333 non-null   float64
 10  GS      3333 non-null   float64
 11  HD      3333 non-null   float64
 12  HON     3333 non-null   float64
 13  IBM     3333 non-null   float64
 14  JNJ     3333 non-null   float64
 15  JPM     3333 non-null   float64
 16  KO      3333 non-null   float64
 17  MCD     3333 non-null   float64
 18  MMM     3333 non-null   float64
 19  MRK     3333 non-null   float64
 20  MSFT    3333 non-null   float64
 21  NKE     3333 non-null   float64
 22  NVDA    3333 non-null   float64
 23  PG      3333 non-null   float64
 24  SHW     3333 non-null   float64
 25  TRV     3333 non-null   float64
 26  UNH     3333 non-null   float64
 27  V       3029 non-null   float64
 28  VZ      3333 non-null   float64
 29  WMT     3333 non-null   float64
dtypes: float64(30)
memory usage: 807.2 KB

In [34]:
prices.to_csv("stock_prices.csv")